.hero {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}

.hero .content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.hero h1 {
    font-weight: 600;
}

.hero h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

.hero h3 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 1.2rem;
}

.form {
    display: flex;
    flex-direction: row;
    background-color: #ffffffcc;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    outline: none;
}

.form input[type=text] {
    background: transparent;
    background-color: transparent;
    width: 90%;
    font-size: 1.2rem;
    font-family: 'Prompt', sans-serif;
    border: 0px;
}

.form input[type=text]:focus {
    outline: none;
}