.carousel {
    margin: 2rem 0;
}

.carousel li {
    padding: 0;
}

.carousel img {
    height: 90vh;
    object-fit: cover;
}

.thumbs-wrapper, .carousel-status {
    display: none;
}